<h1>Here, browse users</h1>

<ul id="slides">
  <% @users.each do |user| %>
  <div class="slide" data-id="<%= user.id %>">
    <li><%= user.first_name %></li>
  </div>
  <% end %>
</ul>

<div class="slide-controls">
  <span id="dislike"><i class="fa-solid fa-circle-xmark fa-2x"></i></span>
  <span id="like"><i class="fa-solid fa-heart fa-2x"></i></span>
</div>
