<h1>Here, browse users</h1>

<ul id="slides">
  <% @users.each do |user| %>
  <div class="slide" data-id="<%= user.id %>">
    <li><%= user.first_name %></li>
  </div>
  <% end %>
</ul>

<button class="controls" id="dislike">Dislike</button>
<button class="controls" id="like">Like</button>
